<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="nvr :: nvr"></header>
    <div><h3>This application works as a database for songs and other music.<br> Any user can either add, edit or delete track from the given list.<br> Later there will be ability to listen to the music from the list</h3></div>
</body>
</html>