<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adding track</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style type="text/css">
        label {
            display: inline-block;
            width: 200px;
            margin: 5px;
            text-align: left;
        }
        input[type=text], input[type=number] {
            display: inline-block;
            width: 200px;
        }
        i
        button {
            padding: 5px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <header th:insert="nvr :: nvr"></header>
    <div  align ="center">
        <form action="#" th:action="@{/Adding}" method = "post" th:object="${track}">
            <label>Title: </label>
            <input type="text" th:field="*{title}"><br/>
            <label>Author: </label>
            <input type="text" th:field="*{author}"><br/>
            <label>Release date: </label>
            <input type="number"   th:field="*{release}"><br/>
            <label>Genre of the track: </label>
            <input type="text" th:field="*{genre}"><br/>
            <label>Submitted by: </label>
            <input type="text" th:field="*{submitter}"><br/>
            <label>Insert url of poster: </label>
            <textarea type="text" th:field="*{urlposter}"></textarea><br/>

            <input type="submit" value="add track" >

        </form>
    </div>
</body>
</html>