<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>API</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="nvr :: nvr"></header>
    <h1>Rest API description</h1>
    <p>To view all tracks: <b>/</b></p>
    <p>To view one track: <b>/tracks/trackId</b></p>
    <p>To post track with POST: <b>/Adding</b></p>
    <p>To edit track with PUT(actually using POST): <b>/tracks/trackId/edit</b></p>
    <p>To delete track with DELETE(actually using POST): <b>/tracks/trackId/delete</b></p>
</body>
</html>