<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

    <header th:insert="nvr :: nvr"></header>
    <h1>Tracklist</h1><a href="/">Refresh</a>
    <a href="tracks">See tracks</a>
    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>track title</th>
            <th>author</th>
            <th>release date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="track : ${alltracks}">
            <td th:text="${track.title}"></td>
            <td th:text="${track.author}"></td>
            <td th:text="${track.release}"></td>
        </tr>
        </tbody>
    </table>



</body>
</html>