<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

    <header th:insert="nvr :: nvr"></header>

    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Track title</th>
            <th>Author</th>
            <th>Release date</th>
            <th>See more about tracks</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="trk : ${alltracks}">
            <td th:text="${trk.title}"></td>
            <td th:text="${trk.author}"></td>
            <td th:text="${trk.release}"></td>
            <td ><button  type="button"  class="btn btn-outline-success"><a th:href="'/tracks/'+${trk.id}" >View</a></button></td>
        </tr>
        </tbody>
    </table>



</body>
</html>